.footer {
  grid-column: full-start / full-end;

  padding: 8rem;

  background-color: $color-secondary;

  .nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
      display: block;
      padding: 1.5rem;

      font-family: $font-display;
      font-size: 1.4rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      color: #fff;

      transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}

.copyright {
  margin-top: 6rem;
  text-align: center;
  font-size: 1.4rem;
  color: $color-grey-light-2;

  &__link {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s;
  }

  &__link:hover {
    background-color: rgba(#fff, 0.05);
    color: $color-primary;
  }
}
